<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.themooltipass.moolticute-ssh-agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Moolticute.app/Contents/MacOS/cli/mc-agent</string>
        <string>--no-fork</string>
        <string>--address</string>
        <string>/Users/{{ user }}/Library/Application Support/moolticute-ssh-agent.socket</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/{{ user }}/Library/Logs/moolticute-ssh-agent.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/{{ user }}/Library/Logs/moolticute-ssh-agent.stderr.log</string>
</dict>
</plist>